<div >
  <a class="api-link" href="https://api.sunrise-sunset.org/">REST service used</a>
</div>
<mat-toolbar color="primary" fxLayout="column" fxLayoutAlign="center center">
  ☀ op en onder
</mat-toolbar>
<form fxLayout="column" fxLayoutAlign="center center" >

  <mat-form-field class="city-input">
    <mat-select placeholder="Selecteer plaats" [(ngModel)]="selectedCity" name="city">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="date-input">
    <input matInput [matDatepicker]="picker" placeholder="Selecteer een datum"
           [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary"(click)="getDayLightInfo(selectedCity)">Toon</button>


  <div *ngIf="dayLightInfo.length > 0">
    <table mat-table [dataSource]="dayLightInfo" class="mat-elevation-z8 daylightinfo">
      <!-- Position Column -->
      <ng-container matColumnDef="cityName">
        <th mat-header-cell *matHeaderCellDef> Plaats </th>
        <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="day_length">
        <th mat-header-cell *matHeaderCellDef> ☀ op - onder (Daglicht) </th>
        <td mat-cell *matCellDef="let element"> &nbsp;{{element.sunrise | localTime: minutesOffset | hour }} - {{element.sunset | localTime: minutesOffset | hour }}  ({{element.day_length | hour }}) </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary"(click)="deleteDayLightInfo(selectedCity)">Wis</button>
    </div>
  </div>

</form>


